<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{{ book.title }}
{{ book.text }}
{{ book.count_get }}
{{ book.price }}
<form action="" method="post">
    {% csrf_token %}
    {{ comment_form }}
    <button type="submit">Sand</button>
</form>
<br>
<br>
{% if comment_form.errors %}
    {% for error in comment_form.errors %}
        {{ error }}
    {% endfor %}
{% endif %}

{% for comment in book.comments.all %}
    <p>{{ comment.user }}</p>
    <p>{{ comment.text }}</p>
{% endfor %}

</body>
</html>