
{% extends '_base.html' %}

{% block title_page %}
    List View
{% endblock %}

{% block container %}
    {% for book in books %}
        <div class="card m-5" style="width: 18rem;">
            <img class="card-img-top" src="{{ book.image.url }}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{ book.title }}</h5>
                <p class="card-text">{{ book.text }}</p>
                <a class="btn btn-info" href="{{ book.get_absolute_url }}">more</a>
                <a class="btn btn-warning" href="{% url 'update_view' book.id %}">Edit</a>
            </div>
        </div>
    {% endfor %}
{% endblock %}